.about {
  color: #f4fa94;
}
.Section-a {
  font-size: 95.3px;
  text-align: center;
  margin-top: 3px;
  line-height: 100px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 95px;
  padding-top: 211.2px;
}
.Irene {
  color: #f4fa94;
}
.dot {
  display: inline-block;
  position: relative;
  top: 8.8px;
  margin-left: 946.1px;
  background-color: #f4fa94;
  padding: 2.5px;
  border-radius: 50%;
}
hr {
  width: 88.8%;
  opacity: 0.5;
  transform: scaleY(0.3);
  margin: auto;
  max-width: 1230px;
  margin-top: 31.8px;
}
.Section-b {
  display: flex;
  width: auto;
  position: relative;
  font-size: 40px;
  margin: auto;
  max-width: 1230px;
  left: 50px;
  font-weight: 500;
}
.dot1 {
  display: block;
  background-color: #f4fa94;
  padding: 5px;
  border-radius: 50%;
  max-width: 0px;
  margin: auto;
  position: relative;
  right: 578px;
  top: 30px;
}
.Section-b1 {
  display: grid;
  width: 600px;
  margin: auto;
  max-width: 1230px;
  position: relative;
  bottom: 70px;
  left: 300px;
  font-family: "Clash Display", sans-serif;
}
.nav-home,
.nav-about,
.nav-contact,
.nav-twitter,
.nav-facebook,
.nav-instagram,
.nav-linkedin,
.nav-drrible,
.profile {
  transition-duration: 0.5s;
}
.nav-home:hover,
.nav-about:hover,
.nav-contact:hover,
.nav-twitter:hover,
.nav-facebook:hover,
.nav-instagram:hover,
.nav-linkedin:hover,
.nav-drrible:hover {
  opacity: 0.72;
}
.Section-b2 {
  font-weight: normal;
  line-height: 1.7;
  font-size: 30px;
  font-family: "Clash Display", sans-serif;
  opacity: 0.8;
}
.Section-b3,
.Section-b4 {
  font-weight: 100;
  width: 600px;
  opacity: 0.8;
  line-height: 1.7;
  font-size: 20px;
  font-weight: 400;
  font-family: "Clash Display", sans-serif;
}
.content .image {
  display: block;
  margin: auto;
  max-width: 1230px;
}
.dot2 {
  display: block;
  background-color: #f4fa94;
  padding: 5px;
  border-radius: 50%;
  max-width: 0px;
  margin: auto;
  position: relative;
  right: 578px;
  top: 30px;
}
.Section-c {
  display: flex;
  width: auto;
  position: relative;
  font-size: 40px;
  margin: auto;
  max-width: 1230px;
  left: 50px;
  font-weight: 500;
}
.Section-d {
  display: grid;
  width: 580px;
  margin: auto;
  max-width: 1230px;
  position: relative;
  bottom: 70px;
  left: 300px;
}
.Section-d2 {
  font-weight: normal;
  line-height: 1.7;
  font-size: 30px;
  opacity: 0.8;
}
.Section-d1 {
  margin-top: 20px;
  font-weight: normal;
  line-height: 1.7;
  font-size: 30px;
}
.e1h {
  margin-right: 90px;
}
.Section-d3 {
  font-size: 20px;
}
.inset-card {
  background-color: #ffffff0f;
  margin: auto;
  padding: 80px 64px;
  max-width: 1230px;
  width: 1000px;
  height: 500px;
  text-align: center;
  font-size: 52px;
  border-radius: 3%;
}
.inset-card-text {
  margin-top: 92px;
  font-size: 96px;
  font-weight: 500;
}
.i {
  color: #f4fa94;
  margin-top: 20px;
  font-size: 64px;
}
@media (max-width: 980px) {
  .Section-a {
    padding-left: 130px;
    font-size: 120px;
    padding-top: 420px;
    width: 900px;
    line-height: 120px;
  }
  .header img {
    height: 73px;
    padding-top: 60px;
    padding-left: 100px;
  }
  hr {
    margin-left: 150px;
    margin-top: -130px;
  }
  .nav-menu {
    padding-right: 500000px;
  }
  .dot {
    right: 5000px;
  }
  .Section-b {
    font-size: 120px;
    padding-left: 150px;
    margin-top: -250px;
  }
  .dot1 {
    top: -158px;
    right: 330px;
    padding: 15px;
  }
  .Section-b1 {
    float: left;
    position: relative;
    top: 20px;
    left: 100px;
  }
}
